body {
  background-color: red;
}

.robogearLine {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.robotBox {
  height: 65vh;
  float: left;
}

.textBox {
  height: 60vh;
  margin-left: 30vh;
  background-image: url("../img/word-bubble.png");
}

.robotOutput {
  margin-left: 20px;
  margin-top: 40px;
}